{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="row">
    <div class="col md-8 mt-4 mx-auto">
        <div class="row">
            {% for x in products %}
                <div class="col-md-6">
                    <img src="{{x.pimage.url}}" style="width:500PX;height:400PX;">
                </div>
                <div class="col-md-6">
                    <p><strong>Product Name:</strong>&nbsp;&nbsp;{{x.name}}</p>
                    <p><strong>Price:</strong>&nbsp;&nbsp;{{x.price}}</p>
                    {% if x.cat == 1 %}
                    <p><strong>Category:</strong>&nbsp;&nbsp;Mobile</p>
                    {% elif x.cat == 2 %}
                    <p><strong>Category:</strong>&nbsp;&nbsp;Shoes</p>
                    {% else %}
                    <p><strong>Category:</strong>&nbsp;&nbsp;Bikes</p>
                    {% endif %}
                    <p><strong>Product Details:</strong>&nbsp;&nbsp;{{x.pdetails}}</p>
                    <br>
                    <a href="/addtocart/{{x.id}}"><button class="btn btn-danger">Add to cart</button></a>
                    <a href="/viewcart"><button class="btn btn-danger">View Cart</button></a>
                    <a href="/homepage"><button class="btn btn-danger">Shop More</button></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock 'main' %}



